@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MPSignIn Tool - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/mpsignintoolsservice/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/mpsignintoolsservice/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MPSignIn Tool</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HealthCheck" asp-action="Index">HealthCheck</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Catalog</a>
                        </li>
                        @if (User.IsInRole("ADMIN") || User.IsInRole("DEV"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DynamoSearch" asp-action="Index">ForceSignOut</a>
                            </li>
                        }
                        @if (User.IsInRole("ADMIN")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserRegistration" asp-action="Index">Register</a>
                        </li>
                        }
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - United Mobile MPSignIn Tool 
        </div>
    </footer>
    <script src="~/mpsignintoolsservice/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/mpsignintoolsservice/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/mpsignintoolsservice/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
